absl-py
astunparse
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
deepface
dnspython
python-dotenv
filelock
fire
Flask
flask-cors
flatbuffers
gast
gdown
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
joblib
keras
libclang
lightdsa
lightecc
lightphe
lz4
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
mpmath
mtcnn
namex
numpy
opencv-python
opt_einsum
optree
packaging
pandas
pillow
protobuf
Pygments
pymongo
PySocks
python-dateutil
requests
retina-face
rich
setuptools
six
soupsieve
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt